{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">

    <script src="{% static 'libs/jquery/jquery-3.6.0.min.js' %}"></script>
    {% block css %} {% endblock %}

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Registro epidemiológico</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto col-md-11">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Início <span class="sr-only">(current)</span></a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Administração</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav navbar-collapse col-md-1">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/logout/">Sair</a>
                    </li>
                        {% else %}
                        <li class="nav-item">
                        <a class="nav-link" href="/admin">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

     <div class="wrapper">
            {% block container %}
            <div class="container-fluid" id="appvue">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-bottom pb-2 mb-3 mt-3  px-4">
                        <h2>{% block title %} Registro epidemiológico{% endblock %}</h2>
                    </div>
                </div>
            </div>
            <div>
            {% endblock %}
            {% block content %}{% endblock %}
        </div>
        </div>
    </div>



    {% block scripts %} {% endblock %}
</body>



</html>