{% extends "base.html" %}

{% load static %}

{% block container %}
<div class="jumbotron text-right" style="height: 30rem; background-image: url(https://images.ctfassets.net/hrltx12pl8hq/78EwB5ass4CXV0FPTjGz1t/2bdc672e30e86059ebeacb7c9675a297/compressed_shutterstock_1167904405.jpg??fit=fill&w=800&h=300);
    background-repeat: no-repeat, repeat; background-size: cover;">
        <div class="container">
          <h1 class="display-4">Registro epidemiológico</h1>
            <div></div>
          </div>
      </div>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-6">
            <h2>Pacientes e cuidadores</h2>
            <p> Pacientes ou seus cuidadores podem realizar o cadastro e registrar as doenças raras </p>
            <p><a class="btn btn-primary" href="/base/autocadastro/" role="button">Autocadastro</a></p>
          </div>
          <div class="col-md-6">
            <h2>Pesquisadores, médicos e gestores</h2>
            <p> A interface administrativa proporciona controle sobre o registro de pacientes e doenças </p>
            <p><a class="btn btn-primary" href="/admin" role="button">Interface administrativa</a></p>
          </div>
        </div>

        <hr>

      </div>
{% endblock %}